
/* side bar */
#sidebar{
    width: 20%;
    position: fixed;
    height: 50%;
    background: lightblue;
    border: solid 2px black;
    margin-bottom: 50px;
}

#sidebar #elena{
     color: black;
     margin-right: 0;
     display: inline-block;
}

#sidebar #submitbutton{
   margin-left: 50px;
}

#sidebar #minmax{
   width: 175px;
}

/* form  */


#form #minmaxlabel{
    color: white;
}

/* Map */
#mapid{
    position: fixed;
    float: right;
    border: solid 2px black;
    margin-left: 265px;
    width: 79%;
    height: 98%;
}

.leaflet-routing-container {
    display:none;
  }


  /* Nav bar*/
  .topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  


